*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
} 

.background{
    background-color: rgb(20, 20, 20);
    height: 100vh;
    padding-top: 100px; 
}

.second_background{
    height: 80%;
    width: 20%;
    margin: auto;
    background-color: rgb(54, 52, 52);
    border-radius: 10px;
    padding-top: 30px;   
}

.image{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: block;
    margin: auto; 
}

.btn {
    height: 30px;
    width: 80%;
    border: 0;
    border-radius: 5px;
    color: white;
    background-color: rgb(85, 81, 81); 
    cursor: pointer; 
}


.btn:active {
    background-color: rgb(194, 181, 6);
    transform: translateY(2px);
    box-shadow: 0 0 10px rgba(252, 251, 251, 0.2);
}

.button{
    text-align: center;
    line-height: 40px;
    margin-top: 10px;  
}  

h3{
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    color: white;
    margin-left: 82px;
}

h4{
    margin-top: 5px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 238, 0);
    margin-left: 100px;
    font-size: small;
    font-weight: 300;  
}

h5 {
    margin-top: 25px;
    font-family: "Roboto", sans-serif;
    color: white;
    margin-left: 80px;
    font-size: small;
    font-weight: 300;  
}


/* MEDIA QUERIES */

/* MOBILE VIEW  */

@media (max-width: 420px) {

    .second_background{
        height: 80%;
        width: 80%;
        margin: auto;
        background-color: rgb(54, 52, 52);
        border-radius: 10px;
        padding-top: 30px;   
    }


}